body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: none;
    color: #363b48;
    box-sizing: border-box;
    padding: none;
    font-family: objektiv-mk2, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 12vw 0 8vw;
    margin: none;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.wiki {
    margin-left: 40pt;
}

.hero {
    margin-bottom: 2vh;
}

.left {
    margin-right: 40pt;
}

.photo {
    width: 33vw;
    margin-bottom: 20pt;
}

.name {
    font-weight: 800;
    font-style: normal;
    font-size: 28pt;
    letter-spacing: 0.44pt;
    margin-bottom: -5pt;
}

.longName {
    opacity: 0.6;
    font-size: 10pt;
    font-weight: 500;
}

a {
    font-weight: 700;
    font-size: 12pt;
    color: #3830e7;
    letter-spacing: 0.34pt;
    text-decoration: none;
    transition: opacity 0.18s ease-out;
    cursor: pointer;
}

a:hover {
    opacity: 0.6;
}

a:active {
    opacity: 0.3;
}

h3 {
    font-weight: 700;
    font-size: 14pt;
    letter-spacing: 0.34pt;
    margin-bottom: 0;
}

h4 {
    font-weight: 700;
    font-size: 12pt;
    letter-spacing: 0.34pt;
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0.6;
}

p {
    font-weight: 400;
    font-size: 10pt;
    opacity: 0.6;
    letter-spacing: 0.26pt;
    margin-top: 2pt;
}

.topLinkList {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    margin-top: 0;
    justify-content: flex-start;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 10pt 0;
    margin-top: 20pt;
    width: 260pt;
    justify-content: space-between;
}

li {
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.emailContainer {
    margin-top: 18pt;
    background-color: #f1f2f3;
    padding: 8pt 24pt;
    border-radius: 4pt;
    display: inline-block;
}

.emailText {
    cursor: pointer;
    color: #3830e7;
}

@media (max-width: 840px) {
    body {
        padding: 20pt 20pt 40pt 20pt;
        box-sizing: content-box;
    }
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: auto;
    }
    .left {
        margin-right: 0;
        height: auto;
    }
    .photo {
        width: 60%;
        height: auto;
        object-fit: contain;
    }
    .emailContainer {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        padding: 8pt 0pt;
    }
    .emailText {
        text-align: center;
        width: 100%;
    }
    .hero {
        margin-bottom: 2vh;
    }
}

@media (max-width: 640px) {
    .photo {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .name {
        font-size: 8vw;
    }
    h3 {
        font-size: 4.6vw;
    }
    h4 {
        font-size: 4.2vw;
    }
    a {
        font-size: 4vw;
    }
    p {
        font-size: 3.6vw;
    }
    ul {
        width: 100%;
    }
}
