---
import { Linkedin, Twitter, Github } from 'lucide-astro'
---

<div class="flex gap-4">
    <a href="https://www.linkedin.com/in/jennarongm/" class="hover:opacity-60">
        <Linkedin class="size-6 stroke-1" />
    </a>
    <a href="https://x.com/jennmueng" class="hover:opacity-60">
        <Twitter class="size-6 stroke-1" />
    </a>
    <a href="https://github.com/jennmueng" class="hover:opacity-60">
        <Github class="size-6 stroke-1" />
    </a>
</div>